# HiddenServiceDir: where Tor looks for "hs_ed25519_secret_key", "hs_ed25519_public_key", and "hostname" files
HiddenServiceDir /app/onion-service/

# HiddenServicePort: a virtual port mapped to the local port for your webserver
HiddenServicePort 80 127.0.0.1:<%= ENV['PORT'] || '8080' %>
HiddenServicePort 8080 127.0.0.1:<%= ENV['PORT'] || '8080' %>

# HiddenServiceVersion: this buildpack currently only supports v3 hidden services, and v3 is default

# Send logs at level "notice" or higher to stdout
Log notice stdout