/*Overwrite Bootstrap schema*/
$primary: rgb(0, 200, 0);
$body-bg: rgb(20, 20, 20);
$body-color: rgb(255, 255, 255);


#root {
    height: 100%;
}

body {
    height: 100%;
    background-color: rgb(20, 20, 20);
}

.chat_window {
    min-height: 100%;
}

.message_list {
    min-height: 100%;
    overflow-y: auto;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.message_row {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255)
}

.system_message {
    background-color: rgb(60, 60, 60);
}

.own_message {
    background-color: rgb(0, 0, 60);
}

.other_message {
    background-color: rgb(60, 0, 0);
}

@import "bootstrap";
