<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script type="text/javascript">
        var room_id = '{{room_id}}';
        var encrypted = {{encrypted|tojson}};
    </script>

</head>
<body>

<!-- this is where react renders into -->
<div id="root"></div>
<script src="{{url_for('static', filename='dist/chat.bundle.js')}}"></script>

</body>
</html>