<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <!-- this is where react renders into -->
    <div id="root"></div>
    <script src="{{url_for('static', filename='dist/index.bundle.js')}}"></script>
</body>
</html>